@media screen and (max-width: 576px) {
  #nav-bar {
    width: 100%;
  }
  #header-content-title {
    width: 100%;
  }
  #header-content-title > h1 {
    font-size: 60px;
  }
  #header-content-title > p {
    font-size: 15px;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #about-title {
    transform: scale(0.8);
  }
  #about-cards > section {
    margin-top: 40px;
  }
  #map-btn {
    width: 30%;
  }
  #footer-baner {
    width: 80%;
  }
  #footer-baner > * {
    transform: scale(0.8);
  }
  #footer-content-logo {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-content-logo > p {
    text-align: center;
  }
  #footer-content-ul > ul {
    padding: 20px 0 0px 5%;
    text-align: center;
  }
  #footer-content-form {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 576px) {
  #nav-bar {
    width: 100%;
  }
  #header-content-title {
    width: 100%;
  }
  #header-content-title > h1 {
    font-size: 63px;
  }
  #header-content-title > p {
    font-size: 15px;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #about-title {
    transform: scale(0.8);
  }
  #about-cards > section {
    margin-top: 40px;
  }
  #map-btn {
    width: 30%;
  }
  #footer-baner {
    width: 80%;
  }
  #footer-baner > * {
    transform: scale(0.8);
  }
  #footer-content-logo {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer-content-logo > p {
    text-align: center;
  }
  #footer-content-ul > ul {
    padding: 20px 0 0px 5%;
    text-align: center;
  }
  #footer-content-form {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  #nav-bar {
    width: 100%;
  }
  #header-content-title {
    width: 80%;
  }
  #header-content-title > h1 {
    font-size: 65px;
  }
  #header-content-title > p {
    font-size: 17px;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #map-shape {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
  }
  #map-shape #map-shape-line #map-shape-circle-1 {
    position: absolute;
    left: 9.1%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-1 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-shape #map-shape-line #map-shape-circle-2 {
    position: absolute;
    left: 15.1%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-2 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-shape #map-shape-line #map-shape-circle-3 {
    position: relative;
  }
  #map-shape #map-shape-line #map-shape-circle-4 {
    position: absolute;
    left: 81.6%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-4 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-shape #map-shape-line #map-shape-circle-5 {
    position: absolute;
    left: 89.2%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-5 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
}
@media screen and (min-width: 992px) {
  #nav-bar {
    width: 100%;
  }
  #header-content-title {
    width: 80%;
  }
  #header-content-title > h1 {
    font-size: 72px;
  }
  #header-content-title > p {
    font-size: 17px;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #about-title {
    transform: scale(0.9);
  }
  #about-cards > section {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  #nav-bar {
    width: 100%;
  }
  #header-content-title {
    width: 50%;
  }
  #header-content-title > h1 {
    font-size: 72px;
  }
  #header-content-title > p {
    font-size: 17px;
  }
  #header-content-img > figure > img {
    width: 150px;
  }
  #header-content-img > figure:nth-of-type(1) > img {
    width: 200px;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #about-title {
    transform: scale(1);
  }
  #about-cards > section {
    margin-top: 40px;
  }
  #map-shape {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
  }
  #map-shape #map-shape-line #map-shape-circle-1 {
    position: absolute;
    left: 9.1%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-1 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-shape #map-shape-line #map-shape-circle-2 {
    position: absolute;
    left: 29.1%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-2 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-shape #map-shape-line #map-shape-circle-3 {
    position: relative;
  }
  #map-shape #map-shape-line #map-shape-circle-4 {
    position: absolute;
    left: 69.1%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-4 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-shape #map-shape-line #map-shape-circle-5 {
    position: absolute;
    left: 89.2%;
    background-color: #888B8E;
  }
  #map-shape #map-shape-line #map-shape-circle-5 > span {
    background-color: rgba(136, 139, 142, 0.4117647059);
  }
  #map-btn {
    width: 10%;
  }
  #footer-baner {
    width: 80%;
  }
  #footer-baner > * {
    transform: scale(0.8);
  }
  #footer-content-logo {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #footer-content-logo > p {
    text-align: start;
  }
  #footer-content-ul > ul {
    padding: 20px 0 0px 5%;
    text-align: start;
  }
  #footer-content-form {
    padding: 20px 0 0px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (min-width: 1400px) {
  #nav-bar {
    width: 100%;
  }
  #header-content-title {
    width: 50%;
  }
  #header-content-title > h1 {
    font-size: 72px;
  }
  #header-content-title > p {
    font-size: 17px;
  }
  #header-content-img > figure > img {
    width: 204px;
  }
  #header-content-img > figure:nth-of-type(1) > img {
    width: 270px;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #about-title {
    transform: scale(1);
  }
  #about-cards {
    width: 90%;
  }
  #about-cards > section {
    margin-top: 40px;
  }
  #work-cards {
    width: 90%;
  }
  #footer-baner {
    width: 80%;
  }
  #footer-baner > * {
    transform: scale(1);
  }
}
@media screen and (min-width: 1600px) {
  #nav-bar {
    width: 80%;
  }
  #header-content-title {
    width: 37%;
  }
  #header-content-title > h1 {
    font-size: 72px;
  }
  #header-content-title > p {
    font-size: 20px;
  }
  #header-content-img > figure > img {
    width: 100%;
  }
  #header-content-img > figure:nth-of-type(1) > img {
    width: 100%;
  }
  #marquee > div > p {
    padding: 0 50px;
  }
  #about-title {
    transform: scale(1);
  }
  #about-cards {
    width: 80%;
  }
  #about-cards > section {
    margin-top: 40px;
  }
  #work-cards {
    width: 80%;
  }
}/*# sourceMappingURL=local.css.map */